//colors
$color-primary: #5ebe88;
$color-primary-light: #6fde9e;
$color-primary-dark: #438760;

$color-secondary-light: #ffeaa7;
$color-secondary-dark: #d0410b;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #b9b9b9;

$color-grey-dark-1: #777;
$color-grey-dark-2: #3c3c3c;

$color-white: #FFF;
$color-black: #202020;

// font-sizes
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 4rem;

//font-weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;
