@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes skewAnimation {
  0% {
    transform: skewY(0deg) skewX(0);
  }
  50% {
    transform: skewY(-4deg) skewX(-10deg);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
  100% {
    transform: skewY(0deg) skewX(0);
  }
}
